.form-container {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.checkout-form {
  margin-bottom: 10px;
  max-width: 400px;
}

.checkout-form input {
  width: 100%;
  padding: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
}

.checkout-form button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.checkout-form button:hover {
  background-color: #218838;
}
