<div class="form-container">
  <form (ngSubmit)="processPayment(f.value)" #f="ngForm" class="checkout-form">
    <input type="text" name="cardNumber" placeholder="Número do cartão" required>
    <input type="text" name="expirationMonth" placeholder="Mês de expiração" required>
    <input type="text" name="expirationYear" placeholder="Ano de expiração" required>
    <input type="text" name="securityCode" placeholder="CVV" required>
    <input type="text" name="cardholderName" placeholder="Nome no cartão" required>
    <input type="text" name="identificationType" placeholder="Tipo de ID" required>
    <input type="text" name="identificationNumber" placeholder="Número do ID" required>

    <button type="submit">Pagar</button>
  </form>
</div>
